<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout part 1</title>
</head>

<body>
    <!-- 
    <header> - Defines a header for a document or a section
    <nav> - Defines a set of navigation links
    <section> - Defines a section in a document
    <article> - Defines an independent, self-contained content
    <aside> - Defines content aside from the content (like a sidebar)
    <footer> - Defines a footer for a document or a section
    <details> - Defines additional details that the user can open and close on demand
    <summary> - Defines a heading for the <details> element
    -->
    <p>Save the document by pressing <kbd>Ctrl + S</kbd></p>

    <p>Message from my computer:</p>
    <p><samp>File not found.<br>Press F1 to continue</samp></p>

    <code>
    x = 5;
    y = 6;
    z = x + y;
    </code>

    <p>The area of a triangle is: 1/2 x <var>b</var> x <var>h</var>, 
        where <var>b</var> 
        is the base, and <var>h</var> is the vertical height.</p>

</body>

</html>