.title {
  text-align: center;
}

ul.a {
  list-style-type: circle;
  list-style-position: inside; /*bullet points will be outside the list item*/
  background-color:black;
  color:white;
  padding:10px;
}

ul>li:nth-child(1) {
  border:1px solid black; /*to better see the effect of bullet position*/
}

ol.b {
  list-style-type: upper-latin;
}

ul.c {
  list-style-image: url(/HTML/intro/favicon.ico);
  list-style-position: inside; /*bullet points will be inside the list item*/
}

ol.list-no-defaults {
  list-style-type: none;
  margin: 0;
  padding:0;
}

ul.list-shorthand {
  list-style:square inside url(/HTML/intro/favicon.ico); /*order : type, position, image*/
}