* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  background-color: #f6f6f6ff;
}

/*header and footer*/
header,
footer {
  padding: 20px 10px;
  text-align: center;
}

/*top nav*/
nav {
  position: sticky;
  top: 0;
  background-color: #1e1e1e;
  font-size: 0;
}

nav a {
  text-align: center;
  width: 100px;
  float: right;
  padding: 10px;
  text-decoration: none;
  font-size: 13px;
  color: white;
}

nav a:hover {
  background-color: #ffcb75ff;
  color: #1e1e1e;
}

@media screen and (max-width:900px) {
  nav a {
    display: block;
    float: none;
    width: 100%;
  }

  nav {
    position: relative;
  }

}

/*clearfix for floats*/
nav::after,
.main-row::after,
.socmed::after {
  content: "";
  clear: both;
  display: table;
}

/*contents*/
.main-col,
.side-col {
  padding: 20px 30px;
  text-align: justify;
}

.main-col {
  float: left;
  width: 75%;
}

.side-col {
  float: right;
  width: 25%;
}

.row,
.side-col article {
  margin: 30px 0;
}

.content img {
  margin: 20px 0;
  width: 100%;
  height: 500px;
}

@media screen and (max-width:900px) {

  .main-col,
  .side-col {
    width: 100%;
    padding: 0;
  }
}

/*side col*/
.side-col .popular img {
  width: 100%;
  height: 250px;
}

.popular img,
.about h3,
.contact h3 {
  margin: 10px 0;
}

.socmed {
  /*using this */
  display: flex;
  align-items: center;
  /*to align the text vertically to the image*/
  margin: 0 0 10px 0;
}

.socmed img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
}


@media screen and (max-width:1980px) {
  body {
    max-width:1600px;
    margin: auto;
  }
}